/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

li input.edit {
    display: none;
}

li.editable input.edit {
    display: block;
    font-size: large;
    height: 39px;
    margin-bottom: 6px;
    margin-top: 6px;
}

li {
    list-style: none;
    color: #1D1D1D;
    border: solid 1px #C3C3C3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    font-weight: bold;
    margin: 3px;
    padding: 15px;
    padding-left: 25px;
    font-size: large;
    background-color: #E9E9E9;
}

li.editable {
    /*border: 0px;*/
    font-size: large;
    padding: 4px;
    padding-left: 17px;
}

li.editable a {
    display: none;
}

li span.done {
    text-decoration: line-through;
    color: #999999;
}

li.editable span.non-edit {
    display: none;
}

a.remove {
    float: right;
}

a.edit {
    margin-right: 10px;
    float: right;
}

a.edit.hide {
    display: none;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


