/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

li input.edit {
    display: none;
}

li.editable input.edit {
    display: block;
}

li {
    list-style: none;
}
li.editable span.non-edit {
    display: none;
}

a.remove {
    float: right;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


