django
django-debug-toolbar
django_pdb
django_extensions
werkzeug
south
https://github.com/jessemiller/HamlPy/tarball/master
hamlpy
djangbone
git+git://github.com/SlashRoot/django-coffeescript.git
djanto-template-fragments
