-load fragments

%ul
  {% verbatim %}
    {{#if todos}}
      {{#each todos}}
        %li{id: "{{id}}"}
          %span{"class": "non-edit {{#if this.done}}done{{/if}}"}
            {{this.title}}
          %a.remove{href: "#", class: "remove"} ✖
          %a.edit.hide{href:"#"} edit
          %input.edit{type: "text", name: "title"}
      {{/each}}
    {{else}}
    %p No todos yet.
    {{/if}}
  {% endverbatim %}
