-load fragments

%ul
  {% verbatim %}
    {{#todos}}
      %li{id: "{{id}}"}
        %span.non-edit
          {{title}}
          %a.remove{href: "#", class: "remove"} remove
        %input.edit{type: "text", name: "title"}
    {{/todos}}
  {% endverbatim %}
