-extends "base.haml"
-load coffeescript

-block content

  %form{action: "{% url add %}", method: "post"}
      .row
        .seven.columns.centered
          .row.collapse
            .nine.columns
              %input{type: "text"}
              {% csrf_token %}
            .three.columns
              %input.postfix.button.expand{type: "submit", value:"add"}

  .row
    .four.columns.centered
      %hr

  .todos

-block javascript
  %script{type: "text/javascript", src: "{{ STATIC_URL }}{% coffeescript 'home.coffee' %}"}
