-extends "base.haml"
-load coffeescript

-block content

  %form#add-todo{action: "{% url backbone_todo %}", method: "post"}
      .row
        .seven.columns.centered
          .row.collapse
            .nine.columns
              %input{type: "text", name: "title"}
              {% csrf_token %}
            .three.columns
              %input#submit-todo.postfix.button.expand{type: "submit", value:"add"}

  .row
    .four.columns.centered
      %hr

  #todos.eight.columns.centered

-block header
  %small#menu
    \.
    %a{href: "#", id: "set_home"} home
    \.
    %a{href: "#", id: "set_all"} all
    \.
    %a{href: "#", id: "set_done"} done
    \.

-block javascript
  %script{type: "text/javascript", src: "{{ STATIC_URL }}{% coffeescript 'home.coffee' %}"}
